<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../base/vue.js"></script>
  <style>
    .red{
      background: red;
    }
    .green{
      background: lightgreen;
    }
    .pink{
      background: pink;
    }
    .yellow{
      background: yellow;
    }
    .blue{
      background: skyblue;
    }
    .purple{
      background: purple;
    }
  </style>
</head>
<body> 
  <div id='app'>
    <select v-on:change='change'>
      <option v-for='(item,index) in colors'
              :value='index'
      >{{item}}</option>
    </select>
     <table>
       <tr v-for='(item,index) in arrs'
           v-bind:class='index%2?colors[colorIndex][1]:colors[colorIndex][0]'   
       >
         <td v-for='(tdItem,tdIndex) in  item'
             v-on:mouseover='sel(tdItem)'
             v-bind:style="{opacity:selIndex==tdItem?0.1:1}"
         >
           {{tdItem}}
         </td>
       </tr>
     </table>
  </div>
<script>
new Vue({
  el:"#app",
  data:{
    arrs:[[11,12,13],[21,22,23],[31,32,33]],
    selIndex:'11',
    colors:[['red','green'],['blue','pink'],['yellow','purple']],
    colorIndex:1
  },
  methods: {
    sel(index){
      console.log(index)
      this.selIndex=index
    },
    change(e){
      console.log('菜单改变',e.target.value)
      this.colorIndex=e.target.value
    }
  },
})
</script>
<!-- 
作业
1.创建表格 v
2.隔行变色 v
3.鼠标化过有特效 点击有特效 -》滑过事件
4.下拉菜单 能控制隔行变色的颜色
   隔行改变 修改 colorIndex
   
   下拉菜单
   选中菜单
   

 -->
</body>
</html>